%!PS-AdobeFont-1.0 (blatantly invalid)

10 dict begin
/FontType 1 def
/FontName /DejaVu def
/FontInfo 2 dict dup begin
 /FullName (Deja Vu) readonly def
 /FamilyName (Deja Vu) readonly def
end readonly def
/BlendDesignPositions [[0 0]] def
/BlendDesignMap [[0] [0]] def
/TerminalFun %TERMFUN% def
/Private 
/lenIV -1 def
/Subrs %NUMSUBRS% array
%SUBRS%
ND
/CharStrings 2
/.notdef {
	0 1000 hsbw
	endchar
	}
/at {
%MAIN%
	}
end
/BuildCharArray [%BCA%] def
currentfile eexec
